<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../static/css/login/index.css"/>
</head>
<body>
    <div class = "box">
        <div class = "login">
            <ul class = "title">
                <li class = "active" index = "0">登入</li>
                <li index = "1">注册</li>
            </ul>
            <div class = "from">
                <div>
                    <span>用户名：</span>
                    <input class = "username" placeholder="请输入用户名"/>
                </div>
                <div>
                    <span>密码：</span>
                    <input type = "password" class = "password" placeholder="请输入密码"/>
                </div>
                <button class = "btn">登入</button>
            </div>
        </div>
    </div>
</body>
<script src = "../static/api/axios.min.js"></script>
<script src = "../static/api/index.js"></script>
<script src = "../static/class/Request.js"></script>
<script src = "../static/js/class.js"></script>
<script src = "../static/js/login.js"></script>
</html>